[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.15.0"
requests = "==2.25.1"
flask = "==2.2.5"
jinja2 = "==3.0.3"

[dev-packages]

[requires]
python_version = "3.13"
